.half-width {
    width: 50%;
}

.ctr-txt {
    text-align: center;
}

.done-task {
    text-decoration: line-through;
}

.extra-task-data {
    text-align: center;
    width: 100%;
    font-weight: 500;
}

.task-prop {
    font-weight: 500;
    color: #890909;
}

.material-icons {
    margin: 5px;
    cursor: pointer;
}


.m-m {
    margin: 5px;
}

.m-l {
    margin: 10px;
}

.form-container {
    border: 1px solid #3b4471;
    margin: 20px;
    padding: 1em 3em;
    border-radius: 35px;
    background-color: #f7dcd63d;
}

.spc-eve {
    justify-content: space-evenly;
}